body {
    background-color: #e3f4ff;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

p, 
ul,
ol {
    background-color: aliceblue;
}

.title {
    text-align: center;
}


.recipe {
    background-color:#1cca6a63;
    margin: 10px;
    padding: 20px 10px;
    list-style: none;
}

