body {
    background-color: #e3f4ff;
    font-family: Helvetica;
    font-size: 40px;
}

a {
    text-decoration: none;
}

p, 
ul,
ol {
    background-color: aliceblue;
}

.title {
    text-align: center;
}

.container {
    padding: 6px;
}
.recipe {
    background-color:#1cca6a63;
    list-style: none;
    display: block;

}

.one {
    margin: 0 auto;
    padding: 0 auto;
    border: 0 auto;

}

.two {
   margin: 0 auto;
    padding: 0 auto;
    border: 0 auto;
}

.three {
    margin: 0 auto;
    padding: 0 auto;
    border: 0 auto;
}